@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --colorAccent: hsl(242, 87%, 72%, 1);
    --colorBackground: hsl(242, 87%, 72%, 1);

    --background: hsl(0, 0%, 10%);
    --foreground: hsl(0, 0%, 95%);

    --card: hsl(0, 0%, 20%);
    --card-foreground: hsl(0, 0%, 95%);

    --primary: hsl(202, 69%, 59%);
    --primary-hover: hsl(202, 68%, 30%);
    --primary-foreground: hsl(0, 0%, 95%);

    --secondary: hsl(239, 92%, 75%);
    --secondary-foreground: hsl(0, 0%, 95%);

    --muted: hsl(0, 0%, 50%);
     --destructive: hsl(0, 71%, 46%, 1);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0, 0%, 20%);
    --input: hsl(0, 0%, 95%);

    --radius: hsl(0.5rem);
  }

  .dark {
    --colorAccent: hsl(242, 87%, 72%, 1);
    --colorBackground: hsl(242, 87%, 72%, 1);

    --background: hsl(0, 0%, 10%);
    --foreground: hsl(0, 0%, 95%);

    --card: hsl(0, 0%, 20%);
    --card-foreground: hsl(0, 0%, 95%);

    --primary: hsl(202, 69%, 59%);
    --primary-hover: hsl(202, 68%, 30%);
    --primary-foreground: hsl(0, 0%, 95%);

    --secondary: hsl(239, 92%, 75%);
    --secondary-foreground: hsl(0, 0%, 95%);

    --muted: hsl(0, 0%, 50%);
    --destructive: hsl(0, 71%, 46%, 1);
    --destructive-foreground: hsl(0 0% 98%);

    --border: hsl(0, 0%, 20%);
    --input: hsl(0, 0%, 95%);

    --radius: hsl(0.5rem);
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-accent rounded-md;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary-hover rounded-md;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-hover rounded-md;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
